
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<html>
<head>
    <link rel="stylesheet" href="~/Libraries/Styles/normalize.css" />
    <link rel="stylesheet" href="~/Libraries/Styles/bootstrap.css" />
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />

    <script src="~/Libraries/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Libraries/Scripts/popper.min.js"></script>
    <script src="~/Libraries/Scripts/tooltip.min.js"></script>
    <script src="~/Libraries/Scripts/bootstrap.js"></script>
</head>
<body>
    <main>

    </main>
</body>
</html>


