
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<html>
<head>
    <link rel="stylesheet" href="~/Libraries/Styles/normalize.css" />
    <link rel="stylesheet" href="~/Libraries/Styles/bootstrap.css" />
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
    <link rel="stylesheet" href="~/Styles/Home.css" />

    <script src="~/Libraries/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Libraries/Scripts/popper.min.js"></script>
    <script src="~/Libraries/Scripts/tooltip.min.js"></script>
    <script src="~/Libraries/Scripts/bootstrap.js"></script>
</head>
<body>
    <main>
        <dir id="aboutmehead" class="dialogboxes">
            <h1>Michael Kelly</h1>
            <h2>Full-Stack C# ASP.Net Core Developer</h2>
            <h3>U.S. Army Veteran</h3>
            <h3>Tacoma, Washington</h3>
        </dir>
        <dir id="techskills" class="dialogboxes">
            <h3>Technologies:</h3>
            <h3>Languages:</h3>
            <dir class="card-columns">
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>C# ASP.Net Core</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/CSharpLogo.png" alt="C Sharp Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>JavaScript</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/javascript.png" alt="Java Script Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>CSS (Cascading Style Sheet)</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/cssLogo.png" alt="CSS Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>HTML (Hyper Text Markup Language)</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/htmlLogo.png" alt="HTML Logo" />
                </dir>
            </dir>
            <h3>Tools:</h3>
            <dir class="card-columns">
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>Visual Studio</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/visualstudiologo.png" alt="Visual Studio Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>Microsoft Azure</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/azure.png" alt="Microsoft Azure Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>Microsoft Azure DevOps</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/AzureDevOps.png" alt="Microsoft Azure DevOps Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>Bootstrap</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/bootstrap.png" alt="Bootstrap Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>jQuery</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/jquery.png" alt="jQuery Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>Git / GitHub</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/GitHub-Mark.png" alt="Git Hub Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>SQL (Structured Query Language)</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/sql.png" alt="SQL Logo" />
                </dir>
                <dir class="card noopacity">
                    <div class="card-title">
                        <h4>Node.js</h4>
                    </div>
                    <img class="card-img-bottom cardimage" src="~/Images/icons/nodejs.png" alt="Node.js Logo" />
                </dir>
            </dir>
        </dir>
        <dir id="personalsummary" class="dialogboxes">
            <h2>About Me:</h2>
            <p>
                I'm a Full-Stack C# ASP.Net developer with a non-traditional background, born and raised in a multi-cultural neighborhood just outside of Seattle, Washington.  While in High School, I was a competitive swimmer, Boy Scout, soccer player, and played Tenor Sax in the band.  I graduated from Evergreen High School just before the start of my Senior year.  In college, I studied business administration, where I earned an A.A. in that subject.  I also owned a couple of small businesses, was a Tjakai Kickboxer, and was an assistant manager at ComputerStop.  After the tragety of 9/11, I enlisted into the U.S. Army where I spent 11 years.  I started off as a Multi-Channel Operator Maintainer and then was DOD certified as a BMET (Bio-medical Equiptment Technician).  Because of the BMET market I decided to switch career paths and I learned to code at Code Fellows.
            </p>
            <p>
                When I'm not coding, I enjoy learning new things and skills, troubleshooting, music (listening to and playing), Science Fiction, Fantasy, investing, science, technology, and occasionally writting fiction.
            </p>
        </dir>
    </main>
</body>
</html>


