
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Libraries/Styles/normalize.css" />
    <link rel="stylesheet" href="~/Libraries/Styles/bootstrap.css" />

    <script src="~/Libraries/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Libraries/Scripts/popper.min.js"></script>
    <script src="~/Libraries/Scripts/tooltip.min.js"></script>
    <script src="~/Libraries/Scripts/bootstrap.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon">

                </span>
            </button>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="/Home" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link">Work Experience</a>
                </li>
                <li>
                    <a href="#" class="nav-link">School</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>
